/* General Body Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    width: 800px;
    display: flex;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Login Card Layout */
.login-card {
    display: flex;
    flex: 1;
}

/* Profile Section (Left) */
.profile-section {
    flex: 1;
    background-color: #f4f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    text-align: center;
}

.profile-img {
    width: 310px;
    height: 560px;

}

/* Form Section (Right) */
.form-section {
    padding: 40px;
    flex: 2;
    background-image: url('images/sidebar-background.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

.login-title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.login-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

.input-field {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background: #0056b3;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 100%;
    }

    .form-section {
        padding: 20px;
    }

    .input-field, .login-btn {
        width: 100%;
    }
}
